* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background: linear-gradient(45deg, #131e3e 0%, #823f5c 50%, #18235b 100%);
  font-family: 'Rajdhani', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;

  color: aliceblue;
}



.btn-con {
  display: flex;
  width: 800px;
  justify-content: space-around;
}


input {
  width: 800px;
  height: 100px;
  font-size: 50px;
  border: none;
  background-color: #201438;
  color: white;
}

input::placeholder {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.692);
}

button {
  width: 800px;
  height: 100px;
  font-size: 50px;
  background-color: #201438;
  border: none;
  color: white
}

button:hover {
  cursor: pointer;
  background-color: #3f276f;
  color: white
}


textarea {
  font-size: 50px;
  resize: none;
  width: 800px;
  height: 250px;
  background-color: #201438;
  color: white;
  border: none;
}

textarea::placeholder {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.568);
}


h1 {
  font-size: 40px;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #201438;
  margin: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.52);

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 95%;
  height: fit-content;
  background-color: #20143894;
  margin-top: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
  border-radius: 10px;
  position: relative;
}

img {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.adminForm{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avProdListCon {
  background-color: #20143894;
  width: 95%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  padding-top: 150px;
  padding-bottom: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.52);
}

.title {
  position: absolute;
  font-size: 50px;
  width: 100%;
  height: 150px;
  top: 0px;
  font-weight: 700;
  text-align: center;
  background-color: #201438;
  line-height: 150px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.52);
}

a>button {
  width: 250px;
  height: 100px;
  background-color: #131e3e00;
  color: white;
  font-size: 40px;
  border: none;
  box-shadow: 0px 2px 0px white;
  transition: all ease 0.2s;
}

a>button:hover {
  cursor: pointer;
  background-color: #131e3e7a;
  box-shadow: 0px 6px 0px white;
  transition: all ease 0.2s;
}


.modify, .modify-input {
  height: 30px;
  font-size: 15px;
}

.modify::placeholder, .modify-input::placeholder {
  font-size: 15px;
}

.modify {
  width: 100px;
}

.modify-input {
  width: 150px;
}

.card {
  width: fit-content;
  padding: 20px;
  height: 700px;
  margin: 20px;
  position: relative;
  background-color: #131e3e3d;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.483);
}

.remove {
  width: 250px;
  height: 40px;
  font-size: 15px;
}

.item-status {
  position: absolute;
  top: 20px;
  right: 5px;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.483);
}

.orderListCon {
  background-color: #20143894;
  width: 95%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  padding-top: 200px;
  padding-bottom: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.52);
}

form{
  background-color: #20143894;
  width: fit-content;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.52);
  gap: 10px;
  background-color: #131e3e3d
}

.filter-con {
  position: absolute;
  top: 40px;
  left: 40px;

}

select {
  width: 300px;
  height: 60px;
  font-size: 25px;
}

.order-card {
  width: 250px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 600px;
  margin: 20px;
  position: relative;
  background-color: #131e3e3d;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.483);
}

.customer:last-child {
  word-break: break-all;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #590fc7;
}

input:focus+.slider {
  box-shadow: 0 0 1px #9c21f3cf;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.order-status-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 20px;
  }
}